// card
$card-radius: 10pt;
$card-shadow: 1pt 1pt 5pt rgba($gray-blue, .5);

$tone-shadow: 1pt 1pt 5pt rgba($gray-blue, .5);
$tone-shadow-hover: 2pt 2pt 7pt rgba($gray-blue, .8);
$tone-gradient: linear-gradient(135deg, $tone, darken($tone, 20));